<%= form_with(model: cat, class: "block") do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input #{"is-danger" if cat.errors.include?(:name) }" %>
    </div>
    <% if cat.errors.include?(:name) %>
      <% cat.errors.full_messages_for(:name).each do |msg| %>
        <p class="help is-danger"><%= msg %><p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :age, class: "label" %>
    <div class="control">
      <%= form.number_field :age, class: "input #{"is-danger" if cat.errors.include?(:age) }" %>
    </div>
    <% if cat.errors.include?(:age) %>
      <% cat.errors.full_messages_for(:age).each do |msg| %>
        <p class="help is-danger"><%= msg %><p>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
