<section class="section">
  <div class="container">
    <p style="color: green"><%= notice %></p>

    <div class="block">
      <div class="title">
        <h1>Cats</h1>
      </div>
    </div>

    <div class="block">
      <%= search_form_for @search, class: 'box' do |f| %>
        <div class="field">
          <label class="label">name</label>
          <div class="control">
            <%= f.search_field :name_cont, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <label class="label">age</label>
          <div class="control">
            <%= f.search_field :age_eq, class: 'input'  %>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= f.submit class: 'button is-link' %>
          </div>
          <div class="control">
            <%= link_to "クリア", cats_path, class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="cats" class="block">
      <table class="table">
        <thead>
          <tr>
            <th><%= sort_link(@search, :name) %></th>
            <th><%= sort_link(@search, :age) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cats.each do |cat| %>
            <%= render cat %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @cats %>

    <%= link_to "New cat", new_cat_path %>
  </div>
</section>
