<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
  <ul class="menu-list">
    <li>
      <%= sidebar_link_to(cats_path, "ðŸ±", "ã­ã“") %>
    </li>
    <li>
      <%= sidebar_link_to(dogs_path, "ðŸ•", "ã„ã¬") %>
    </li>
    <li>
      <%= sidebar_link_to(chicks_path, "ðŸ¤", "ã²ã‚ˆã“") %>
    </li>
    <li>
      <%= sidebar_link_to(hedgehogs_path, "ðŸ¦”", "ã¯ã‚Šã­ãšã¿") %>
    </li>
    <li>
      <%= sidebar_link_to(owls_path, "ðŸ¦‰", "ãµãã‚ã†") %>
    </li>
  </ul>
</aside>
